@import 'tailwindcss';

html,
body,
#root {
	height: 100%;
	background-color: var(--bg-light);
}

:root {
	--blue-main: #3f69e2;
	--blue-text: #4949e9;
	--blue-light: #f6f8ff;
	--yellow-main: #dcf343;
	--yellow-main-rgb: 220, 243, 67;
	/* RGB 值 */
	--bg-light: #fbfbfd;
	--bg-drawer: #f0f4fc;
}

@theme inline {
	--color-blue-main: var(--blue-main);
	--color-blue-text: var(--blue-text);
	--color-blue-light: var(--blue-light);
	--color-yellow-main: var(--yellow-main);
	--color-yellow-main-rgb: var(--yellow-main-rgb);
	--color-bg-light: var(--bg-light);
	--color-bg-drawer: var(--bg-drawer);

	--z-index-modal-overlay: 100;
	--z-index-modal: 200;
	--z-index-modal-content: 300;
}

.bg-white-gradient {
	background-image: linear-gradient(to bottom,
			rgba(235, 240, 252, 0.2) 0%,
			rgba(235, 240, 252, 0.8) 50%,
			rgba(235, 240, 252, 1) 100%);
}

.radial-gradient {
	background: radial-gradient(circle at center,
			var(--yellow-main) 0%,
			rgba(var(--yellow-main-rgb), 0.8) 7%,
			rgba(var(--yellow-main-rgb), 0.4) 20%,
			rgba(var(--yellow-main-rgb), 0) 40%);
}

.menu-opener {
	position: relative;
	width: 32px;
	height: 24px;
}

.line {
	position: absolute;
	left: 0;
	width: 70%;
	height: 2px;
	background: black;
	transform-origin: center;
}

.line-top {
	top: 8px;
}

.line-bottom {
	bottom: 8px;
}

.perspective-1000 {
	perspective: 1000px;
}

.perspective-2000 {
	perspective: 2000px;
}

.accordion-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s;
}

.accordion-content.open {
	grid-template-rows: 1fr;
}